<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponents from "./components/CalComponents.vue";
import HelloWorld_EX from "./components/HelloWorld_EX.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleCpmponentVue from "./components/SimpleCpmponent.vue";
</script>

<template>
  <div>
    <SimpleCpmponentVue />
    <br />
    <br />
    <FormBindings />
    <br />
    <br />
    <ConditionsAndLoops />
    <br />
    <br />
    <AttributeBindings />
    <HandlingUserInput />
    <CalComponents />
    <HelloWorld_EX />
  </div>
</template>

<style scoped></style>
